{% extends "sklep/base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>     
    </head>
    <body>       
    <h1>Kontakt</h1>
    <h7><i>Zapraszamy wszystkich miłośników aromatycznej kawy i herbaty.</i></h7> 
    <p>Godziny otwarcia</p>
     
<p><i>środa	09:00–18:00</i></p>
<p><i>czwartek	09:00–18:00</i></p>
<p><i>piątek	09:00–18:00</i></p>
<p><i>sobota	09:00–14:00</i></p>
<p><i>niedziela	Zamknięte</i></p>
<p><i>poniedziałek	09:00–18:00</i></p>
<p><i>wtorek	09:00–18:00</i></p>

<h1>Telefon: 667 806 701 </h1>  

<p>coś nowego</p>
       
    </body>

</html>


{% endblock %}