{% extends "sklep/base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>     
    </head>
    <body>  
        <div class="lista-produktow">   
            
            <h4>Kontakt<p></p>
            Telefon: 667 806 701<p></p>
            Email:admin@meryk.pythonanywhere.com <p></p>
            Adres: Gościszewo 85a 82-400Sztum</h4>  
            <ul>
            <h3>Godziny otwarcia:</h3>
            <p><i>Poniedziałek	09:00–18:00</i></p>
            <p><i>Wtorek	09:00–18:00</i></p>
            <p><i>Środa	09:00–18:00</i></p>
            <p><i>Czwartek	09:00–18:00</i></p>
            <p><i>Piątek	09:00–18:00</i></p>
            <p><i>Sobota	09:00–14:00</i></p>
            <p><i>Niedziela	Zamknięte</i></p>
            </ul>
       </div>
    </body>
</html>


{% endblock %}