{% extends "sklep/base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>     
    </head>
    <body>  
        <div class="lista-produktow">   
            <ul>
            <h3>Kontakt</h3><p></p>
            <p><i>Telefon: 667 806 701</i></p>
            <p><i>Email:admin@meryk.pythonanywhere.com </i></p>
            </ul>
            <ul>
            <h3>Godziny otwarcia:</h3>
            <p><i>Poniedziałek	09:00–18:00</i></p>
            <p><i>Wtorek	09:00–18:00</i></p>
            <p><i>Środa	09:00–18:00</i></p>
            <p><i>Czwartek	09:00–18:00</i></p>
            <p><i>Piątek	09:00–18:00</i></p>
            <p><i>Sobota	09:00–14:00</i></p>
            <p><i>Niedziela	Zamknięte</i></p>
            </ul>
       </div>
    </body>
</html>


{% endblock %}