{% extends "sklep/base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <h1>Troszke O Nas :)</h1>
        <h2><i>Zapraszamy wszystkich miłośników aromatycznej kawy i herbaty.</i></h2> 
        <p> W naszym sklepie posiadamy produkty, dzięki którym przygotowywanie
            i picie tych napojów staje się przyjemnym codziennym rytuałem. </p>
            <p> Filiżanki, dzbanki, młynki i akcesoria - owoce czy soki dają każdemu
              możliwość wyboru tych, które najlepiej podkreślą smak ulubionej
            herbaty lub kawy.</p> 
            <p>   Sklep i palarnia w jednym – łącząc te dwie lokalizacje, możemy 
            zagwarantować naszym klientom, że otrzymają doskonale wypaloną kawę w przystępnej cenie.</p>

        
       <img src="{% static 'img/onas.JPG' %}" alt="ONas" style="width:100%">
    </body>

</html>


{% endblock %}