{% extends "sklep/base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>      
    </head>
    <body>
        <div class="lista-produktow">     
            <h1>O Nas :)</h1>
            <h2><i>Zapraszamy wszystkich miłośników aromatycznej kawy i herbaty.</i></h2> 
            <img src="{% static 'img/onas.JPG' %}" alt="ONas" style="width:100%"> 
            <ul>
                <p><i>W naszym sklepie posiadamy produkty, dzięki którym przygotowywanie
                i picie tych napojów staje się przyjemnym codziennym rytuałem. 
                Sklep i palarnia w jednym – łącząc te dwie lokalizacje, możemy
                zagwarantować naszym klientom, że otrzymają doskonale wypaloną kawę w przystępnej cenie.</i></p>
            </ul>   
    </body>
</html>
{% endblock %}