{% extends "sklep/base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        
    <h1>Troszkę O Nas :)</h1>
    <h2><i>Zapraszamy wszystkich miłośników aromatycznej kawy i herbaty.</i></h2> 
    <div class="onas">

    <img src="{% static 'img/onas.JPG' %}" alt="ONas" style="width:50%"> 

    </div>
    <p> W naszym sklepie posiadamy produkty, dzięki którym przygotowywanie
        i picie tych napojów staje się przyjemnym codziennym rytuałem. </p>
    <p> Sklep i palarnia w jednym – łącząc te dwie lokalizacje, możemy 
        zagwarantować naszym klientom, że otrzymają doskonale wypaloną kawę w przystępnej cenie.</p>

        
       
    </body>

</html>


{% endblock %}