{% extends "sklep/base.html" %}
{% load static %}
{% block content %}
<div>


<body>

<div>

<p><b>Polityka Prywatności<o:p></o:p></span></b></p>

<p>Właścicielem strony internetowej <span class=SpellE>MerykShop</span>
jest firma <span class=SpellE>MerykShop</span>, która jest administratorem
Twoich danych osobowych.<o:p></o:p></span></p>

<p>Niniejsza Polityka prywatności określa, w jaki sposób
przetwarzamy informacje gromadzone na stronie <span class=SpellE>MerykShop</span>,
a także wyjaśnia powody, dla których musimy gromadzić określone dane o
użytkowniku. Dlatego przed rozpoczęciem korzystania ze strony <span
class=SpellE>MerykShop</span> zapoznaj się z niniejszą Polityką Prywatności.<o:p></o:p></span></p>

<p>Dbamy o Twoje dane osobowe i zobowiązujemy się do
zapewnienia ich poufności i ochrony.<o:p></o:p></span></p>

<p><b>Gromadzone przez nas dane osobowe:<o:p></o:p></span></b></p>

<p>Kiedy wchodzisz na stronę <span class=SpellE>MerykShop</span>,
automatycznie zbieramy pewne informacje o Twoim urządzeniu, w tym informacje o
Twojej przeglądarce internetowej, adresie IP, strefie czasowej oraz niektórych
plikach cookie zainstalowanych na Twoim urządzeniu. Ponadto podczas przeglądania
strony zbieramy informacje o poszczególnych stronach internetowych lub
produktach, które przeglądasz, jakie strony lub frazy wprowadzone w
wyszukiwarce skierowały Cię na naszą Stronę oraz o tym, w jaki sposób z niej
korzystasz. Te informacje zbierane automatycznie określamy mianem
&quot;Informacji o urządzeniu&quot;. Ponadto, możemy gromadzić dane osobowe,
które nam przekażesz (w tym, między innymi, imię, nazwisko, adres, informacje o
płatnościach itp.) na etapie rejestracji, aby umożliwić realizację umowy.<o:p></o:p></span></p>

<p><b>Dlaczego przetwarzamy Twoje dane?<o:p></o:p></span></b></p>

<p>Naszym nadrzędnym priorytetem jest zapewnienie
bezpieczeństwa danych klientów / użytkowników, dlatego też możemy przetwarzać
jedynie ograniczone dane, tylko w takim zakresie, w jakim jest to absolutnie
konieczne do utrzymania funkcjonowania Strony. Informacje zbierane
automatycznie są wykorzystywane wyłącznie do identyfikacji potencjalnych
przypadków nadużyć oraz do sporządzania danych statystycznych dotyczących
korzystania z naszej Strony internetowej. Wspomniane dane statystyczne nie są
gromadzone w sposób umożliwiający identyfikację konkretnego użytkownika
systemu.<o:p></o:p></span></p>

<p>Możesz odwiedzić naszą Stronę internetową bez
konieczności ujawniania nam swojej tożsamości lub przekazywania jakichkolwiek
informacji, na podstawie których ktoś mógłby rozpoznać Cię jako konkretną,
możliwą do zidentyfikowania osobę. Jeśli jednak zechcesz skorzystać z
niektórych funkcji Strony, lub chcesz otrzymywać nasz newsletter, lub podać
inne informacje poprzez wypełnienie formularza, możesz przekazać nam swoje dane
osobowe, takie jak adres e-mail, imię, nazwisko, miasto w którym mieszkasz,
firma, organizacja, numer telefonu. Możesz zrezygnować z podawania nam swoich
danych osobowych, jednak wówczas możesz nie być w stanie korzystać z niektórych
funkcji Strony. Na przykład, nie będziemy w stanie wysyłać Ci naszego <span
class=SpellE>Newslettera</span> lub nawiązać z Tobą kontaktu bezpośrednio na
Stronie. Użytkownicy, którzy nie są pewni, które informacje są obowiązkowe,
mogą skontaktować się z nami pisząc na adres admin@meryk.pythonanywhere.com.<o:p></o:p></span></p>

<p><b>Twoje prawa:<o:p></o:p></span></b></p>

<p>Jeśli jesteś obywatelem Unii Europejskiej, przysługują
Ci następujące prawa związane z Twoimi danymi osobowymi:<o:p></o:p></span></p>

<ul style='margin-top:0cm' type=disc>
 <li>Prawo do
     uzyskania informacji.<o:p></o:p></span></li>
 <li>Prawo
     dostępu do informacji.<o:p></o:p></span></li>
 <li>Prawo do
     korekty danych.<o:p></o:p></span></li>
 <li>Prawo do
     usunięcia danych.<o:p></o:p></span></li>
 <li>Prawo do
     ograniczenia przetwarzania danych.<o:p></o:p></span></li>
 <li>Prawo do
     zastrzeżenia sposobu przetwarzania danych.<o:p></o:p></span></li>
 <li>Prawo
     sprzeciwu.<o:p></o:p></span></li>
 <li>Prawa
     odnoszące się do automatyzacji podejmowania decyzji i profilowania.<o:p></o:p></span></li>
</ul>

<p>Jeśli chcesz skorzystać z tego prawa, skontaktuj się z
nami za pośrednictwem poniższych danych kontaktowych.<o:p></o:p></span></p>

<p>Ponadto, jeśli jesteś obywatelem Unii Europejskiej,
zaznaczamy, że dane użytkownika mogą być przetwarzane w celu realizacji
ewentualnych umów z nim zawartych (np. w przypadku złożenia zamówienia za
pośrednictwem Strony) lub w celu realizacji naszych uzasadnionych działań
biznesowych wymienionych powyżej. Ponadto należy mieć na uwadze, że informacje
o użytkowniku mogą być przekazywane poza granice Unii Europejskiej, w tym do
Kanady i Stanów Zjednoczonych.<o:p></o:p></span></p>

<p><b>Linki do innych stron<o:p></o:p></span></b></p>

<p>Na naszej Stronie internetowej mogą znajdować się
linki do innych witryn, które nie stanowią naszej własności ani nie są przez
nas nadzorowane. Informujemy, że nie ponosimy odpowiedzialności za inne strony
internetowe ani za ich praktyki związane z ochroną prywatności. Z tego powodu
zachęcamy do świadomego opuszczenia naszej strony i zapoznania się z polityką
prywatności każdej strony internetowej, która może gromadzić dane osobowe.<o:p></o:p></span></p>

<p><b>Ochrona danych:<o:p></o:p></span></b></p>

<p>Zapewniamy bezpieczeństwo informacji udostępnianych
przez użytkownika na serwerach komputerowych w środowisku kontrolowanym,
bezpiecznym, zabezpieczonym przed nieuprawnionym dostępem, wykorzystaniem lub
ujawnieniem. W ramach kontroli i nadzoru stosujemy odpowiednie zabezpieczenia
administracyjne, techniczne i fizyczne w celu ochrony przed nieuprawnionym
dostępem, wykorzystaniem, modyfikacją i ujawnieniem danych osobowych. Nie
możemy jednak zagwarantować bezpieczeństwa transmisji danych przez sieć
internetową lub bezprzewodową.<o:p></o:p></span></p>

<p><b>Ujawnienie informacji wynikających z
przepisów prawa:<o:p></o:p></span></b></p>

<p >Wszelkie informacje, które gromadzimy, wykorzystujemy
lub otrzymujemy, zostaną ujawnione, jeśli jest to wymagane lub zgodne z prawem,
np. w celu wywiązania się z wezwania do sądu lub podobnego postępowania
prawnego oraz wówczas, gdy w dobrej wierze uznamy, że ujawnienie jest
koniecznie w celu ochrony naszych praw, Twojego bezpieczeństwa lub
bezpieczeństwa innych osób, wykrycia oszustwa lub w odpowiedzi na wezwanie
organów rządowych.<o:p></o:p></span></p>

<p><b>Informacje kontaktowe:<o:p></o:p></span></b></p>

<p>Jeżeli
chcesz się z nami skontaktować, aby uzyskać więcej informacji na temat
niniejszej Polityki Prywatności lub w jakiejkolwiek sprawie mającej związek z
Twoimi prawami i danymi osobowymi, możesz wysłać wiadomość e-mail na adres
admin@meryk.pythonanywhere.com.<o:p></o:p></span></p>

<p><o:p>&nbsp;</o:p></p>

</div>

</body>

</html>
</div>
</p>
{% endblock %}