{% extends "sklep/base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>     
    </head>
    <body>  
        <div class="lista-produktow">
            <ul>
            <h1>Zwroty</h1> 
            <p class="p2">Zwrotów należy dokonać poprzez wysłanie paczki wraz z paragonem na adres:</p>
           <h1>Gościszewo 85a </h1>
           <h1>82-400 Sztum</h1>
            <p class="p1"><i>W razie problemów proszę o kontakt telefoniczny pod numerem telefonu:<p></p> +48 667 806 701</i><p>
        </ul>
       </div>
    </body>
</html>
{% endblock %}