<html>
<body>
  <h1>MerykShop</h1>
  <p>
    Faktura nr: {{zamowienie.id }}</br>
    <span class="secondary">
      {{zamowienie.utworzone|date:"M d, Y" }}
    </span>
  </p>

  <h3>Dla</h3>
  <p>
    {% if zamowienie.gosc %}
      {{ zamowienie.imie }} {{ zamowienie.nazwisko}}<br>  
    {% else %}
      {{ zamowienie.uzytkownik.first_name }} {{ zamowienie.uzytkownik.last_name }}<br> 
    {% endif %}   
    {{zamowienie.email }}<br>
    {{zamowienie.adres }}<br>
    {{zamowienie.kod_pocztowy }}, {{zamowienie.miasto }}
  </p>

  <h3>Zakupione towary</h3>
  <table>
    <thead>
      <tr>
        <th>Produkt</th>
        <th>Cena</th>
        <th>Ilość</th>
        <th>Koszt</th>
      </tr>
    </thead>
    <tbody>
      {% for pozycja in zamowienie.artykuly.all %}
        <tr class="row{% cycle "1" "2" %}">
          <td>{{ pozycja.produkt.nazwa }}</td>
          <td class="num">{{ pozycja.cena }} zł</td>
          <td class="num">{{ pozycja.ilosc }}</td>
          <td class="num">{{ pozycja.oblicz_cene }} zł</td>
        </tr>
      {% endfor %}
      <tr class="total">
        <td colspan="3">Razem</td>
        <td class="num">{{zamowienie.oblicz_laczna_kwote }} zł</td>
      </tr>
    </tbody>
  </table>

  <span class="{% if zamowienie.zaplacone %}paid{% else %}pending{% endif %}">
    {% if zamowienie.zaplacone %}Zapłacono{% else %}Oczekuje na zapłatę{% endif %}
  </span>
</body>
</html>
