{% extends "sklep/base.html" %}

{% block title %}

  Zamówienie {{ zamowienie.id }} {{ block.super }}


{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url "admin:index" %}">Strona główna</a> &rsaquo;

    <a href="{% url "admin:zamowienia_zamowienie_changelist" %}">Zamówienia</a>
    &rsaquo;
    <a href="{% url "admin:zamowienia_zamowienie_change" zamowienie.id %}">Zamówienie {{ zamowienie.id }}</a>
    &rsaquo; Szczegóły
   </div>
{% endblock %}

{% block content %}

<h1>Zamówienie {{ zamowienie.id }}</h1>

<ul class="object-tools">
  <li>
    <a href="#" onclick="window.print();">Drukuj zamówienie</a>
  </li>
</ul>
<table>
  <tr>
    <th>Utworzono</th>

    <td>{{ zamowienie.utworzono }}</td>
  </tr>
  <tr>
    <th>Klient</th>
       {% if zamowienie.gosc %}
           <td>{{ zamowienie.imie }} {{ zamowienie.nazwisko}} (Gość)</td> 
       {% else %}
          <td>{{ zamowienie.uzytkownik.first_name }} {{ zamowienie.uzytkownik.last_name }}</td> 
       {% endif %}    
  </tr>
  <tr>
    <th>E-mail</th>
    <td><a href="mailto:{{ zamowienie.email }}">{{ zamowienie.email }}</a></td>
  </tr>
  <tr>
    <th>Adres</th>
    <td>{{ zamowienie.adres }}, {{ zamowienie.kod_pocztowy }} {{ zamowienie.miasto }}</td>
  </tr>
  <tr>
    <th>Łączna kwota</th>
    <td>{{ zamowienie.oblicz_laczna_kwote }} PLN</td>
  </tr>
  <tr>
    <th>Status</th>
    <td>{% if zamowienie.zaplacone %}Zapłacono{% else %}Oczekuje na zapłatę{% endif %}</td>

  </tr>
</table>

<div class="module">
  <h2>Zakupione towary</h2>
  <table style="width:100%">
    <thead>
      <tr>
        <th>Produkt</th>
        <th>Cena</th>
        <th>Ilość</th>
        <th>Razem</th>
      </tr>
    </thead>
    <tbody>

      {% for pozycja in zamowienie.artykuly.all %}
        <tr class="row{% cycle "1" "2" %}">
          <td>{{ pozycja.produkt.nazwa }}</td>
          <td class="num">{{ pozycja.cena }} zł</td>
          <td class="num">{{ pozycja.ilosc }}</td>
          <td class="num">{{ pozycja.oblicz_cene }} zł</td>

        </tr>
      {% endfor %}
      <tr class="total">
        <td colspan="3">Razem</td>

        <td class="num">{{ zamowienie.oblicz_laczna_kwote }} zł</td>

      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
