{% extends "sklep/base.html" %}

{% block title %}
  Do kasy
{% endblock %}

{% block content %}
  <h1>Do kasy</h1>

  <div class="order-info">
    <h3>Twoje zamówienie</h3>
    <ul>
      {% for towar in koszyk %}
        <li>
          {{ towar.ilosc }} x {{ towar.produkt.nazwa }}
          <span> {{ towar.cena_razem }} zł</span>
        </li>
      {% endfor %}
    </ul>
    <p>Razem:{{ koszyk.oblicz_laczna_cene }} zł</p>
  </div>
  
  <form method="post" class="order-form">
    {{ form.as_p }}
    <input type="submit" value="Złóż zamówienie">
    {% csrf_token %}
  </form>

{% endblock %}
