{% extends "sklep/base.html" %}
{% load static %}


{% block title %}
  {{ produkt.nazwa }}
{% endblock %}

{% block content %}
    <div class="szczegoly-produktu">
        <div class="sidebar" id="sidebar">
      <h3 class = "nagnav">Kategorie</h3>
        <ul>
          <li {% if not kategoria %}class="selected"{% endif %}>
            <a href="{% url "sklep:lista_produktow" %}">Wszystkie</a>
          </li>
          {% for c in kategorie %}
            <li {% if kategoria.skrot_url == c.skrot_url %}class="selected"{% endif %}>
              <a href="{{ c.get_absolute_url }}">{{ c.nazwa }}</a>
            </li>
          {% endfor %}
        </ul>
        </div>
        <div class="item">
            <div>
              <p class="price">{{ produkt.nazwa }}</p>  
              <div class="img">
                <img src="{% if produkt.zdjecie %}{{ produkt.zdjecie.url}}" width="300" height="300" 
                {% else %}{% static "img/no_image.png" width="300" height="300" %}{% endif %}">
              </div>
                <h7>
                  <a href="{{ produkt.kategoria.get_absolute_url }}">
                      Kategoria: {{ produkt.kategoria }}
                  </a>
               </h7>
               <br></br>
               {% if liczba_ocen > 0 %}                
                    <p>Liczba ocen produktu: {{liczba_ocen}}</p>
                    <p>Średnia ocena:({{srednia_ocena|floatformat:2 }})
                    {% with ''|center:srednia_ocena_calk as range %}
                    {% for _ in range %}              
                    <ul>
                      <li class="gwiazdka">{{'⭐'}}</li>
                    </ul>                     
                    {% endfor %}
                    {% endwith %}
                    {% with ''|center:reszta as rrange %}
                    {% for _ in rrange %}
                      {{'✩'}}                      
                    {% endfor %}
                    {% endwith %}                                                           
               {% endif %}
               <h7><a href="{% url "oceny:dodaj-ocene" produkt.id %}" class="button">
                Oceń produkt
              </a></h7>
               <p class="price">Cena: {{ produkt.cena }} zł</p>
               <form action="{% url "koszyk:koszyk_dodaj" produkt.id %}" method="post">
                  {{ formularz_dodaj_do_koszyka }}
                  {% csrf_token %}
                  <input type="submit" value="Dodaj do koszyka">
              </form>
            </div>  
            <div class="opis-produktu-tytul"><p>OPIS PRODUKTU</p></div>
              <div class="opis-produktu">
                  <div>
                  {{ produkt.opis|linebreaks }}
                  </div>
             </div>
            
         </div>
    </div>    
{% endblock %}
